#schoollogo{
  position: absolute;
  top:-7%;
  left: 6%;
  width:50%;
  height: auto;
}

#schoolbox{
  width: 100%;
  height: 150%;
  position: absolute;
  top: 4%;
  left: 6%;
  z-index: -1;
}
#schoolcontainer{
  position: relative;
  width: 85%;
  height: 70%;
  top: 6%;
}
#schooltextarea{
  width: 38%;
  height: 66%;
  position: absolute;
  top: 32%;
  left: 58%;
  /*border: 3px solid white;*/
  overflow-y: scroll;
   resize: none;
}

social-media {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100%;
  left: 82%;
  top: 15%
}

.schoolsocialmedia{
  width: 4%;
  height: auto;
}

.schoolimg{
  width: 30%;
  height:68%;
  position: absolute;
  z-index: 999;
  left: 22%;
  top: 32%;
}

/*
.blurry-edge {
  background: url("")
    box-shadow: 0 0 8px 8px #f2cb02 inset;
}*/
