<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- FOR MODAL -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>

          body {
          background-image: url('pelican.jpg');
          background-size: cover;
      }
      .glass::before {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('pelican-blurry.jpg');
        background-size: cover;
        content: ' ';
        opacity: 0.4;
      }
      .glass {
          background-color: white;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="../jquery.circular-carousel.css">

  </head>
  <body>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <div class="row glass">
      <ul class="carousel" style="background-color: black">
        <li class="item active"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</li>
        <li class="item">
        <img src="http://weknowyourdreams.com/images/snow/snow-08.jpg" data-toggle="modal" data-target="#myModal"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
      </ul>
    </div>

    <div class="controls">
      <a href="#" class="previous">Previous</a>
      <a href="#" class="next">Next</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="../jquery.circular-carousel.js"></script>

    <script src="js/script.js"></script>

  </body>
</html>
