<div ng-class="pageClass"></div>
<transition-screen name="{{ startTitle }}"></transition-screen>
<h1>{{ journalTitle }}  <span>Mario</span></h1>
<div class="Americas">
  <div class="shameful"></div>
  <div class="acts">
    <div ng-class="journal.class" ng-repeat="journal in journals">
      <div class="year">
        <h4>{{ journal.date }}</h4>
      </div>
      <h2 class="designation">{{ journal.day }}</h2>
      <p ng-repeat="text in journal.text" class="about">{{ text }}</p>
    </div>
  </div>
</div>
<ch-lang></ch-lang>
<nav-mushroom page="/journal"></nav-mushroom>
