<div ng-class="pageClass"></div>
<transition-screen name="{{ startTitle }}"></transition-screen>
<div id="schoolcontainer">
  <img id="schoolbox" src="../../../assets/img/backgrounds/box.png">
  <img class="game-explication" src="../../../assets/img/backgrounds/college.jpg">
  <div id="schooltextarea">
    <p ng-repeat="line in lines">
    {{ line }}
    </p>
  </div>
  <img id="schoollogo" alt="Marianopolis College" src="../../../assets/img/socialmedia/logo.png">
  <social-media id="social-box"></social-media>
</div>
<ch-lang></ch-lang>
<nav-mushroom page="/school"></nav-mushroom>
