.speech-bubble {
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 20px;
  position: absolute;
  box-shadow: 0 0 6px #B2B2B2;
}

.speech-bubble .bubble-arrow {
  border-style: solid;
  position: absolute;
}

.bubble-bottom {
  border-color: #c8c8c8 transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
  &:after {
    border-color: #f8f8f8 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
  }
}
