mushroom-head {
  background: {
    image: image-url("info/mushroom.png");
    repeat: no-repeat;
    position: center;
    size: cover;
  };
  height: 4em;
  width: 4em;
  margin: -1.5em 0 0 -1.5em;
  cursor: pointer;
  z-index: 99999;
  position: absolute
}

nav-mushroom {
  position: fixed;
  bottom: 6em;
  left: 3em;
  mushroom-head {
    position: absolute;
    bottom: -5em;
  }
}
