nav-map {
  position: fixed;
  top: 20%;
}

.info-container {
  position: absolute;
  height: 500px;
  width: 500px;
  margin: -250px 0 0 -250px;
  top: 50%;
  left: 50%;
}

.mushroom-container {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: -50px 0 0 -50px;
  z-index: 99999;
}

.mushroom-center {
  line-height: 1,5;
  top: 50%;
  left: 50%;
}

.mushroom-move {
  @include transition(all 1s ease-in-out 0.5s);
}

.mushroom-talk {
  line-height: 1,5;
  top: 60%;
  left: 40%;
}

.mushroom-corner {
  position: fixed;
  bottom: 2%;
  left: 6%;
}


.dialog-position {
  line-height: 1,5;
  position: absolute;
  top: 28%;
  left: 38%;
}

.dialog-cornered {
  line-height: 1,5;
  position: fixed;
  bottom: 20%;
  left: 6%;
  z-index: 9999;
}


.flow-buttons {
  position: absolute;
  top: 51%;
  left: 60%;
  div {
    cursor: pointer;
    display: inline-block;
  }
}

