#navbutton1 {
	position: absolute;
	top: 10%;
	left: 70%;
}

#navbutton2 {
	position: absolute;
	top: 60%;
	left: 20%;
}

#textBox {
  border:2px solid #456879;
  border-radius: 30px;
  box-shadow:1px 1px 45px #333;
  transition: 200ms all ease;
  border:none;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -400px;
  width: 800px;
  height: 500px;
  background: url('../../../assets/img/info/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#textBox:hover {
box-shadow: 12px 13px 0px rgba(204, 211, 51, 0.38),
-11px -14px 0px rgba(241, 96, 0, 0.28),
18px -24px 0px rgba(0, 0, 0, 0.34),
33px -6px 0px rgba(39, 74, 214, 0.28);
}
