#textBox {
  @include border-radius(30px);
  @include box-shadow(1px 1px 45px #333);
  @include transition(200ms all ease);
  border:2px solid #456879;
  border:none;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -25em;
  width: 80em;
  height: 50em;
  background: url('../../../assets/img/info/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#mapdiv {
  @include border-radius(30px);
  @include box-shadow(1px 1px 45px #333);
  @include transition(200ms all ease);
  width: 85%;
  height: 60%;
  position: relative;
  left: 7.5%;
  top:20%;
  span {
    margin: 0 10px;
  }
  &:hover {
    @include box-shadow(12px 13px 0px rgba(204, 211, 51, 0.38),
                        -11px -14px 0px rgba(241, 96, 0, 0.28),
                        18px -24px 0px rgba(0, 0, 0, 0.34),
                        33px -6px 0px rgba(39, 74, 214, 0.28));
  }
}

#map {
  @include border-radius(30px);
  width: 100%;
  height: 100%;
}

.b1 {
  position: absolute;
  left: 27%;
  top: 62%;
}
.b2 {
  position: absolute;
  left: 15.3%;
  top: 62%;
}
.b3 {
  position: absolute;
  left: 38.6%;
  top: 62%;
}
.b4 {
  position:absolute;
  left: 61%;
  top: 62%;
}
.b5 {
  position: absolute;
  left: 84%;
  top: 62%;
}
.b6 {
  position: absolute;
  left: 50.5%;
  top: 45.5%;
}
.b7 {
  position: absolute;
  left: 72.5%;
  top: 80%;
}

.btn-blue {
  background: #108FE8;
  border: 3px solid #fff;
  border-radius: 100%;
  position: absolute;
  @include box-shadow(0 -2px 0 3px #0d72b8 inset,
                      0 5px 5px rgba(3, 25, 41, 0.17),
                      0 15px rgba(255, 255, 255, 0.25) inset);
  cursor: pointer;
  height: 2vw;
  width: 3vw;
  &:hover {
    background: #333;
    @include box-shadow(0 -2px 0 3px #1a1a1a inset,
                        0 5px 5px rgba(0, 0, 0, 0.17),
                        0 15px rgba(255, 255, 255, 0.32) inset);
  }
}

.btn-red {
  background: #E53030;
  border: 3px solid yellow;
  border-radius: 100%;
  position: absolute;
  @include box-shadow(0 -2px 0 3px #c91919 inset,
                      0 5px 5px rgba(65, 8, 8, 0.17),
                      0 15px rgba(255, 255, 255, 0.25) inset);
  cursor: pointer;
  height: 2vw;
  width: 3vw;
  &:hover {
    background: #333;
    @include box-shadow(0 -2px 0 3px #1a1a1a inset,
                        0 5px 5px rgba(0, 0, 0, 0.17),
                        0 15px rgba(255, 255, 255, 0.32) inset);
  }
}

.label-position {
  cursor: default;
  text-shadow: 1px 1px black;
  font-size: 1vw;
  position: absolute;
  top: 2.3vw;
}
