
#textBox {
  @include border-radius(30px);
  @include box-shadow(1px 1px 45px #333);
  @include transition(200ms all ease);
  border:2px solid #456879;
  border:none;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -400px;
  width: 800px;
  height: 500px;
  background: url('../../../assets/img/info/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    @include box-shadow(12px 13px 0px rgba(204, 211, 51, 0.38),
                        -11px -14px 0px rgba(241, 96, 0, 0.28),
                        18px -24px 0px rgba(0, 0, 0, 0.34),
                        33px -6px 0px rgba(39, 74, 214, 0.28));
  }

}

html, body {
  height: 100%;
  width: 100%;
}
#mapdiv {
  width: 85%;
  height: 60%;
  position: relative;
  border: 3px solid black;
  left: 7.5%;
  top:20%;
}
#map{
  width: 100%;
  height: 100%;
}

span {
  margin: 0 10px;
}
.b1 {
  position: absolute;
  left: 24%;
  top: 59%;
}
.b2 {
  position: absolute;
  left: 13%;
  top: 59%;
}
.b3 {
  position: absolute;
  left: 36%;
  top: 59%
}
.b4 {
  position:absolute;
  left: 59%;
  top: 59%;
}
.b5 {
  position: absolute;
  left: 82%;
  top: 59%;
}
.b6 {
  position: absolute;
  left: 48%;
  top: 43%;
}
.b7 {
  position: absolute;
  left: 70%;
  top: 78%
}
.btn-blue {
  background: #108FE8;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 5vw;
  width: 5vw;
}
.btn-blue:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.btn-red {
  background: #E53030;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 5vw;
  width: 5vw;
}
.btn-red:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}
