<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
</div>
<div class="container">
  <div class="row animated lightSpeedIn">
    <div class="col-sm-12 text-center">
      <wel-logo></wel-logo>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-sm-4 col-md-offset-2 text-center">
      <div class="languageBtn langorange" ng-click="showStart('en')">English</div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="languageBtn langorange" ng-click="showStart('fr')">French</div>
    </div>
  </div>
  <div class="row text-center" ng-show="displayStart">
    <div class="startBtn animated infinite rubberBand"
      ng-click="gotoPage('/info')"><span id="startText">{{ START }}</span></div>
  </div>
</div>
