<div ng-class="pageClass"></div>
<animated-clouds></animated-clouds>
<div class="container">
  <div class="row animated lightSpeedIn">
    <div class="col-sm-12 text-center">
      <wel-logo></wel-logo>
    </div>
  </div>
  <div class="row animated fadeIn start-buttons">
    <div class="col-sm-4 col-md-offset-2 text-center">
      <div class="languageBtn langorange" ng-click="showStart('en')">English</div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="languageBtn langorange" ng-click="showStart('fr')">Français</div>
    </div>
  </div>
  <div class="row text-center start-buttons" ng-show="displayStart">
    <div class="startBtn animated infinite rubberBand"
      ng-click="gotoPage('/info')"><span id="startText">{{ START }}</span></div>
  </div>
  <social-media id="social-cornered"></social-media>
</div>
