.full-screen {
  height: 100%;
  width: 100%;
}

.page-welcome {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
}
