.full-screen {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.page-welcome {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
}

.page-info {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}

.page-team {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}

.page-school {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}

.page-journal {
  @extend .full-screen;
  @include filter(blur(5px));
}

.page-gallery {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}

.page-tutorials {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}

.page-game {
  @extend .full-screen;
  background: {
    image: image-url("backgrounds/welcomeBackground.jpg");
    repeat: repeat-x;
    position: center;
    size: auto 100%;
  }
  @include filter(blur(5px));
}
