@import url(https://fonts.googleapis.com/css?family=Monoton);
#mario-face {
  background: url("../img/welcome/mario.png") center;
  background-size: auto 150%;
  height: 50px;
  width: 50px;
  display: inline-block;
}

h1 {
  font-family: 'Monoton';
  color: yellow;
}
