@import 'welcome/langButton';
@import 'welcome/startButton';
@import 'welcome/logo';

html, body {
  height: 100%;
  width: 100%;
  background: url("../img/welcome/marioBackground3d.png") center repeat-x;
  background-size: auto 100%;
}
