<div class="info-container">
  <mushroom-head></mushroom-head>
  <div ng-cloak class="speech-bubble" ng-show="moved">
    <div class="bubble-arrow bubble-bottom"></div>
    <p class="mushroom-speech">{{ text }}</p>
  </div>
  <div ng-cloak class="flow-buttons" ng-show="moved">
    <div ng-click="previous()">Prev</div>
    <div ng-click="next()">Next</div>
  </div>
</div>
<div ng-cloak class="speech-bubble dialog-cornered" ng-show="speechBubble">
  <div class="bubble-arrow bubble-bottom"></div>
  <p style="font-size: 20px">{{ info }}</p>
</div>
<nav-map ng-cloak ng-show="cornered"></nav-map>
