<div id="carousel">
  <img class="cloud9-item" src="../../../../assets/img/welcome/mario.png" alt="Item #1">
  <img class="cloud9-item" src="../../../../assets/img/welcome/marioClicked.png" alt="Item #2">
  <img class="cloud9-item" src="../../../../assets/img/welcome/marioClicked.png" alt="Item #3">
  <img class="cloud9-item" src="../../../../assets/img/welcome/marioClicked.png" alt="Item #4">
  <img class="cloud9-item" src="../../../../assets/img/welcome/marioClicked.png" alt="Item #5">
</div>
