.languageBtn {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  &:active {
    @include transform(translate(0px, 5px));
    box-shadow: 0px 1px 0px 0px;
  }
}

.langred {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  &:hover {
    background-color: #FF6656;
  }
}

.langorange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
  &:hover {
    background-color: #FF983C;
  }
}
