// @import url(https://fonts.googleapis.com/css?family=Monoton);
#mario-face {
  background: {
    image: image-url("welcome/mario.png");
    repeat: no-repeat;
    position: center;
    size: auto 150%;
  };
  height: 50px;
  width: 50px;
  display: inline-block;
}

h1 {
  font-size: 40px;
  color: yellow;
  text-shadow: 2px 2px black;
}
