<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary" ng-click="setLang('en')">
      English
      </button>
    </div>
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary" ng-click="setLang('fr')">
      French
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-warning" ng-click="gotoPage('/home')">
      {{ START }}
      </button>
    </div>
  </div>
</div>

