<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary" ng-click="setLang('en')">
      English
      </button>
    </div>
    <div class="col-sm-6 text-center">
      <button class="btn btn-primary" ng-click="setLang('fr')">
      French
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-warning" ng-click="gotoPage('/home')">
      {{ START }}
      </button>
    </div>
  </div>
</div>

<a href="https://twitter.com/MariRobotics" class="twitter-share-button" data-size="large">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>