<!--multimedia button-->
<div>
<a href="https://twitter.com/MariRobotics">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter.png" width="35" height="35" />
</a>
<a href="[full link to your Pinterest]">
<img title="Youtube" alt="Youtube" src="https://socialmediawidgets.files.wordpress.com/2014/03/youtube.png" width="35" height="35" />
</a>
<a href="https://www.facebook.com/crcteam006/?fref=ts">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook.png" width="35" height="35" />
</a>
</div>

<!--speech buuble-->
<div class="speech-bubble">
  <div class="arrow bottom right"></div>
  this
</div>
